<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="swag.marine.mapper.PriceMapper">
    <insert id="addPrice" parameterType="Price">
        INSERT INTO price (unit, price_by_unit, product_id)
        VALUE (#{unit}, #{priceByUnit}, #{productId})
    </insert>

    <update id="updatePrice" parameterType="Price">
        UPDATE price SET
        unit = #{unit},
        price_by_unit = #{priceByUnit},
        WHERE price_id = #{priceId}
    </update>

    <delete id="deletePrice" parameterType="int">
        DELETE FROM price WHERE price_id = #{priceId}
    </delete>

    <select id="selectAllPriceByProductId" parameterType="int">
        SELECT * FROM price WHERE product_id = #{productId}
    </select>

    <delete id="deleteAllPriceByProductId" parameterType="int">
        DELECT FROM price WHERE product_id = #{productId}
    </delete>
</mapper>