<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="swag.marine.mapper.ProductMapper">

    <insert id="addProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO product (origin,cultivation_type, product_name, product_image, description, product_status, store_id)
        VALUE (#{origin}, #{cultivationType},#{productName}, #{productImage}, #{description}, #{productStatus}, #{storeId})
    </insert>

    <update id="updateProduct" parameterType="Product">
        UPDATE product SET
        origin = #{origin},
        product_name = #{productName},
        product_image = #{productImage},
        description = #{description},
        product_status = #{productStatus}
        WHERE product_id = #{productId}
    </update>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product WHERE product_id = #{productId}
    </delete>

</mapper>